.mb-sent-mail
{
	background: transparent url(../image/mb-sent-mail.png?v=2) no-repeat scroll 0px 0px;
}


.mb-view-original
{
	background: transparent url(../image/mb-view-original.png?v=2) no-repeat scroll 3px 0px;
}


.mb-recv-mail
{
	background: transparent url(../image/mb-recv-mail.png?v=2) no-repeat scroll 0px 0px;
}
.mb-retweet-row 
{
	color:#999999;
}

.mb-cal
{
	background: transparent url(../image/gcal.png?v=2) no-repeat scroll 3px 0px;
}

.mb-draft
{
	background: transparent url(../image/mb-draft.png?v=2) no-repeat scroll 3px 0px;
}

.mb-docs
{
	background: transparent url(../image/mb-docs.gif?v=2) no-repeat scroll 3px 0px;
}

.mb-doc
{
	background: transparent url(../image/mb-doc.gif?v=2) no-repeat scroll 3px 0px;
}

.mb-presentation
{
	background: transparent url(../image/mb-presentation.gif?v=2) no-repeat scroll 3px 0px;
}


.mb-spread
{
	background: transparent url(../image/mb-spread.gif?v=2) no-repeat scroll 3px 0px;
}

.mb-pdf
{
	background: transparent url(../image/mb-pdf.gif?v=2) no-repeat scroll 3px 0px;
}

.mb-photo
{
	background: transparent url(../image/mb-photo.png?v=2) no-repeat scroll 3px 0px;
}

.mb-generic
{
	background: transparent url(../image/mb-generic.png?v=2) no-repeat scroll 3px 0px;
}

.mb-shared-doc
{
	background: transparent url(../image/mb-owner.png?v=2) no-repeat scroll 3px 0px;
}

.mb-contact
{
	background: transparent url(../image/contact.png?v=2) no-repeat scroll center right;
}

.mb-twitter-timeline
{
	background: transparent url(../image/twitter-home.png?v=2) no-repeat 3px 0px;
}

.mb-twitter-message
{
	background: transparent url(../image/twitter-message.png?v=2) no-repeat 3px 0px;
}

.mb-attachment
{
	background: transparent url(../image/mb-attach.png?v=2) no-repeat scroll 0px 0px;
}

.mb-twitter-button
{
	height:18px;
	width:18px;
}
.mb-button
{
	height:20px;
	width:20px;
}

.mb-preview-top-title
{
	font-weight:bold;
	cursor:auto;
	padding:3px;
}

.mb-font-small
{
	font-size: 80%;
}

.mb-font-normal
{
	font-size: 12px;
}

.mb-font-small2
{
	font-size: 80%;
}

.mb-font-smaller
{
	font-size: 70%;
}

.mb-font-big
{
	font-size: 110%;
}

.mb-font-bigger
{
	font-size: 120%;
}

.mb-font-small-size
{
	font-size: 14px;
}

.mb-single-line
{
    overflow:hidden;
    white-space:nowrap;
}

.mb-to-details
{
	color:black;
	font-weight:normal;
}

.mb-preview-from-to-details
{
	font-weight:bold;
	width:98%;
	cursor:auto;
}

.mb-preview-header-td
{
	padding:4px;
	/*background: transparent url(../image/cat-bg.png) repeat-x scroll 0px -24px;*/
	overflow-x:hidden;
}

.mb-preview-show-details
{
	text-align:right;
	padding: 5px 3px 5px 0px;
}

.mb-link
{
	color: #3366CC !important;
	text-decoration:underline;
	cursor:pointer;
}

.mb-attribute-caption
{
	color: #9F9F9F;
}

.mb-preview
{
	padding:5px;	
	height:100px;
	border-top:1px solid #EAEAEA;
}

.mb-preview-header-table
{
	display:none;
}

.mb-locate-link
{
	text-align:left;
	padding:7px 10px 7px 3px;
}
.mb-locate-contact-link
{
	text-align:left;
	padding-top:10px;
}

.mb-preview-top-header
{
	padding:3px;
}

.mb-preview-search-value-from
{
	color:#00681C;
}

.mb-preview-iframe 
{
	width:100%;
	height:100%;
	border:none;
}

.mb-grey
{
	color: #8A8A8A;
}

.mb-contact-info
{
}

.mb-contact-emails
{
	color: #808080;
}

.mb-contact-info-name
{
	font-weight: bold;
	color: #790079;
	padding: 3px 0px 5px 0px;
}
.mb-contact-info-value-padding 
{
	padding-left:10px;
}

.mb-contact-result-row td
{
	padding-top:2px;
	padding-bottom:6px;
}


.mb-contact-notes
{	
	cursor:auto;
	white-space:pre;	
}

.mb-loading-result
{
	cursor:progress;
	padding:5px 3px 15px 26px;
	color: #9F9F9F;
	font-weight:bold;
	background: transparent url(../image/mb-busy.gif?v=2) no-repeat scroll 3px 3px;
}

.mb-snippet
{
	color: #999999;
    padding-bottom:5px;    
    padding-top:2px;    
}

.highlight
{ 
	background-color: #FFF7CB !important;
	border: 1px solid #FFE475 !important;
 }


.cm-draft-caption
{
	color:Red;
	font-weight:normal;
}

.mb-busy-node
{
	display:inline;
	width: 26px;
	background: transparent url(../image/mb-busy.gif?v=2) no-repeat scroll 3px 0px;
}

.mb-note-caption 
{
	cursor:default;
}

td.mb-share-on-email
{
	background: transparent url(../image/email.png?v=2) no-repeat scroll 2px 1px;
	outline:none;	
    text-decoration:none;
	-moz-user-select: none;
    -webkit-user-select: none;
    cursor:pointer;        
}


td.mb-share-on-tweet
{
	background: transparent url(../image/tweet.png?v=2) no-repeat scroll 2px 1px;
	outline:none;	
    text-decoration:none;
	-moz-user-select: none;
    -webkit-user-select: none;
    cursor:pointer;        
}


td.mb-share-on-fb
{
	background: transparent url(../image/fshare.png?v=2) no-repeat scroll 4px 2px;
	outline:none;	
    text-decoration:none;
	-moz-user-select: none;
    -webkit-user-select: none;
    cursor:pointer; 
    padding-right:5px;
}

.cm-folder
{
	padding: 2px;
	background-color: #F1F5EC;
	color: #063;
	border: 1px solid #E8EEDF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-weight:normal;
}

.cm-version
{
	color: #B40404;
	/*position:absolute;
	top:57px;
	left:140px;*/
	width:160px;
	height:21px;
	z-index:1;
	font-size:11px;
	font-weight:bold;
	text-align:right;
}

.cm-preview-container
{
	width: 100%;
	overflow: auto;
}

.cm-preview-window
{
	height: 100%;
	width: 100%;
	/*overflow: auto;*/
}

.cm-contact-info
{
	padding:5px;
}

.mb-note-caption
{
	padding-bottom:3px;
	padding-top:3px;
}

.cm-email
{
	padding-bottom:3px;
	padding-left:20px;
	background:url("../image/mb-email.gif?v=2") no-repeat scroll 0px 5px transparent;
}
.cm-phone
{
	padding-bottom:3px;
	padding-left:20px;
	background:url("../image/mb-phone.png?v=2") no-repeat scroll 0px 0px transparent;
}

.mb-new-preview
{
	color: #9A9A9A;
	font-weight: bold;
}
.cm-error-info
{
	background-color:White;
	color:Red;
	padding:3px;
	height:200px;
}

.mb-event-search-reasult
{
	/*color:#20C*/
}

.mb-event-status-yes
{
	background: transparent url(../image/event-yes-status.gif?v=2) no-repeat scroll 0px 0px;
	padding-left:25px;
}

.mb-event-status-no
{
	background: transparent url(../image/event-no-status.gif?v=2) no-repeat scroll 0px 0px;
	padding-left:25px;
}

.mb-event-status-maybe
{
	background: transparent url(../image/event-maybe-status.gif?v=2) no-repeat scroll 0px 0px;
	padding-left:25px;
}

.mb-event-status-noaction
{
	background: transparent url(../image/event-maybe-status.gif?v=2) no-repeat scroll 0px 0px;
	padding-left:25px;	
}

.mb-event-guest-no-status 
{
	background: transparent url(../image/guest-no-status.gif?v=2) no-repeat scroll 0px 0px;
}
.mb-event-guest-yes-status 
{
	background: transparent url(../image/guest-yes-status.gif?v=2) no-repeat scroll 0px 0px;
}
.mb-event-guest-maybe-status 
{
	background: transparent url(../image/guest-maybe-status.gif?v=2) no-repeat scroll 0px 0px;
}
.mb-guests-inline 
{
	float:left;
}
.mb-guests-border {
	border-top:1px solid #EAEAEA;
	border-bottom:1px solid #EAEAEA;
}

.mb-float-left
{
	float:left;
}

.mb-float-right
{
	float:right;
}

.mb-event-date-header
{
	color: #2200CC;
	height: 18px; /*text-align:right;*/
	padding: 6px 3px 6px 3px;
	border-bottom: 1px solid #EFEFEF;
}

.mb-event-date-today
{
	/*background-color: #FFF7D7;*/
}

.mb-event-result-row
{
	padding-left:3px;
}

.mb-event-date-row 
{
	height:18px;	
}


.mb-show-past-events-link
{
	text-decoration:underline;
	cursor:pointer;
	color: #3366CC !important;
}

.mb-tweet-username
{
	color: #000000;
	overflow:hidden;
}

a.mb-user-profile
{
	color: #333333 !important;
	text-decoration:none;
	font-weight:bold;
}

.mb-tweet-special-nodes
{
	color: #2D76B9;
	text-decoration:none;
	
}

.mb-tweet-special-nodes:hover
{
	text-decoration:underline;
	
}

.mb-user-profile:hover 
{
	color: #2D76B9;
	text-decoration:underline;
	
}

.mb-user-profile-single-view
{
	font-weight:bold;
	color: #2D76B9;
	text-decoration:none;	
}

.mb-user-profile-single-view:hover
{
	font-weight:bold;
	color: #2D76B9;
	text-decoration:underline;	
}

.mb-balloon
{
	z-index:50;
	position:absolute;
	top:0px;
	left:0px;
	width:375px;
	cursor: default;
}

.mb-balloon-content 
{
	background-color: #FFF7CB !important;
	border: 1px solid #FFE475 !important;
	padding:12px;
	-moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
}

.mb-balloon-tip
{
	width:20px;
	height:20px;
	position:absolute;
	background: transparent url(../image/mb-tip-top.png?v=2) no-repeat scroll right top;
}


.mb-balloon-dismiss
{
	position: absolute;
    left: -8px;
    top: -8px;
    padding: 3px;
    width:16px;
    height:16px;
    background: transparent url(../image/mb-close-tool-tip.png?v=2) no-repeat;
}

.mb-balloon-dismiss-2
{
	display: inline;
}

.mb-tweet-title 
{
	color: #999999;
	font-weight:bold;
	padding-top:4px;
	
}

.mb-attachment-header
{
	width:200px;
	height:20px;
	background: transparent url(../image/mb-attached.png?v=2) no-repeat scroll 0px 0px;
}


