.mb-search-widget
{
	background-color:#FFFFFF;
	z-index: 988;
	position: absolute;
	width:306px;
	font-size:12px;
    font-family: arial,sans-serif;
    top:58px;
    left:700px;
    cursor:move;
    line-height:normal;
    /*
		-moz-box-shadow:0 4px 10px #8B8B8B;
		box-shadow: 0 4px 10px #8B8B8B;
		-webkit-box-shadow: 0 4px 10px #8B8B8B;
	*/
}

.mb-top-msg-banner
{
	border-width: 1px;
	border-color: #9DCEFF;
	position: absolute;
	width: 99%;
	top: 37px;
	left:0px;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	background-color: #FFFFCC;
	text-align: center;
	display: none;
	cursor: auto;
}

.mb-refresh-msg-close
{
	width:16px;
	height:16px;
	float:right;
	background:transparent url(../image/mb-clear.png?v=2) no-repeat scroll 0px 0px;
}

.mb-search-container
{
	border: 1px solid #9DCEFF;
	background: #FFFFFF url(../image/mb-bg2.png?v=2) repeat-x scroll 0px 0px;
	padding: 2px 2px 2px 2px;
	vertical-align: middle;
}

.mb-input
{
	outline:none;
	font-size:12px;
    font-family: arial,sans-serif;
}

.mb-search-empty
{
	color: #cccccc;
}


.mb-search-box-wrapper
{
	background-color: #FFFFFF;
	border: 1px solid #9DCEFF;
}

.mb-logo
{
	background:transparent url(../image/mb-logo.png?v=2) no-repeat scroll 0px 3px;
	-moz-user-select: none;
    -webkit-user-select: none;
}

.mb-drag-handle
{
	cursor:move;
}

.mb-options
{
	background:transparent url(../image/mb-options.png?v=2) no-repeat scroll 1px 1px;
	cursor: pointer;
	-moz-user-select: none;
    -webkit-user-select: none;        
}

.mb-options:hover
{
}

.mb-search-item-hover td
{
	background-color:#9DCEFF;
}

.mb-search-result
{
	background-color: #FFFFFF; 
	border-bottom: 1px solid #E5E5E5;
	border-left: 1px solid #9DCEFF;
	border-right: 1px solid #9DCEFF;
	display:none;
	cursor:auto;
	overflow-x:hidden;
	overflow-y:auto;
	outline:none;
}

.mb-search-mail-result
{
}

.mb-search-result-footer
{
	background-color: #F4F4F4;
	padding:3px;
}

/* menu styles */
#mbdropdownmenu
{	
	margin: 0;
	padding: 0;
}

#mbdropdownmenu li
{	
    list-style: none;
    font: 12px Tahoma, Arial;
    display:block;
}

#mbdropdownmenu li a
{	
	display: block;
    background: #324143;
    padding: 5px 12px;
    text-decoration: none;
    width: 70px;
    white-space: nowrap;
    border-bottom:1px solid #EFEFEF;
}

#mbdropdownmenu li ul
{	
	margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border:1px solid #cccccc;
    left:0px;
    -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
}
    
#mbdropdownmenu li ul li
{	
	float:none;
}

#mbdropdownmenu li ul li a
{	
	width: auto;
	background: #FFFFFF;
	color: #000000;
	padding: 5px 12px;
}

#mbdropdownmenu li ul li a:hover
{
	background: #E0ECFF;
}

.mb-pgbar
{
	position: relative;
	background-color: #87CEFA;
	height: 16px;
}

.mb-pgbar-text
{
	border-top: 1px solid #9DCEFF;
	padding: 3px;
	vertical-align: middle;
	color: #464646;
	background: transparent url(../image/mb-bg.png?v=2) repeat-x scroll 0px 0px;
/*	top:-16px; */
}

.mb-footer
{
	border-bottom: 1px solid #9DCEFF;
	border-left: 1px solid #9DCEFF;
	border-right: 1px solid #9DCEFF;
	/*background-color:#CCCCCC;*/
	display:none;
	background: transparent url(../image/mb-bg.png?v=2) repeat-x scroll 0px 0px;
	cursor:auto;
	height:47px;
	overflow:hidden;
}


.mb-preview-with-attachment
{
	height:16px;
	width:20px;
	float:right;
	background: transparent url(../image/mb-attach.png?v=2) no-repeat scroll 0px 0px;
}


.mb-cursor
{
    cursor:pointer;
}

.mb-back-to-search
{
	display:none;
	padding-bottom:7px;
	padding-top:7px;
	cursor:auto;	
    -moz-user-select: none;
    -webkit-user-select: none;    
    cursor:move;
}

.mb-back-to-search a
{
	outline: none;
}

.mb-hidden
{
	display:none;
}

.mb-preview-attachments
{
	padding-left:10px;
	padding-top:2px;
	height:20px;
    width:90%;
}

.mb-clear-button
{
	display:inline;
    width:16px;
    height:16px;
    cursor:pointer;
    background:transparent url(../image/mb-clear.png?v=2) no-repeat scroll 0px 0px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.mb-search-box
{
	/*
	padding-top:6px;
	padding-bottom:6px;
	*/
	border: none;
	width:100%;
	padding-left:3px;	
	padding-bottom:0px;	
}

.mb-preview-body
{
	background-color:Lime;
}

.mb-busy
{
	border: 1px solid #FFCB5E;
	background-color: #FFE1A4;
	position:absolute;
	display:none;
	width:100px;
	height:15px;
	left:100px;
	text-align:center;
}

.mb-search-caption
{
	background:url("../image/cat-bg.png?v=2") repeat-x scroll 0 -20px transparent;
	padding:3px;
	overflow:hidden;
	white-space:nowrap;
}

.mb-result-mail-body
{
	color: #999999;
}

.mb-result-tweet
{
	color: #999999;
	padding-left:6px;
    
}
.mb-tweet-profile 
{
	text-overflow: ellipsis;
}

.mb-result-event-body
{
	color: #999999;
	overflow:hidden;
    padding-bottom:2px;    
}

.mb-result-event-body
{
	color: #999999;
	height: 15px;
	overflow:hidden;
    padding-bottom:2px;    
}

.mb-menu-open
{
	background-color: #91C8FF;
}

.mb-toolbar
{
	border-left:1px solid #9DCEFF;
	border-right:1px solid #9DCEFF;
	border-bottom:1px solid #9DCEFF;
	background:url("../image/cat-bg.png?v=2") repeat-x scroll 0 -10px transparent;
	height:20px;
	cursor:auto;
	display:none;
	padding-top:2px;
}

.mb-close-result
{
	-moz-user-select: none;
    -webkit-user-select: none;
	cursor: pointer;
	background: transparent url(../image/mb-close2.png?v=2) no-repeat scroll 3px 3px;
  /*  width: 16px;
    padding-right: 6px;  
    */  
}

.mb-mail-view
{
	padding-top:4px;
	position:absolute;
	top:5px;
	left:-302px;
	width:300px;
	cursor:auto;
	border-top:2px solid #9DCEFF;
	border-bottom:2px solid #9DCEFF;
	background:url("../image/mb-bg2.png?v=2") repeat-x scroll 0 0 #FFFFFF;
}

.mb-preview-view-left
{
	border-left:2px solid #9DCEFF;
	left:-302px;
}

.mb-preview-view-right
{
	border-right:2px solid #9DCEFF;
	left:300px;
}


.mb-preview-container
{
	overflow:auto;
	background-color:White;
}

.mb-hide-mail-left
{
	-moz-user-select: none;
    -webkit-user-select: none;
	cursor:pointer;
	background: transparent url(../image/mb-close3.png?v=2) no-repeat scroll 0px 0px;
}

.mb-hide-mail-right
{
	-moz-user-select: none;
    -webkit-user-select: none;
	cursor:auto;
	background: transparent url(../image/mb-close4.png?v=2) no-repeat scroll 0px 0px;
}

.mb-hide-tweet-right
{
	-moz-user-select: none;
    -webkit-user-select: none;
	background: transparent url(../image/mb-close3.png?v=2) no-repeat scroll right 0px 3px ;
}

.mb-mail-list-subject
{
	height: 16px;
}

.mb-no-account-msg
{
	padding:6px 3px 6px 3px;
}


td.mb-search-help
{
	background: transparent url(../image/mb-help.png?v=2) no-repeat scroll 0px 3px;
}

a.mb-search-help
{
	outline:none;	
    text-decoration:none;
	-moz-user-select: none;
    -webkit-user-select: none;
    width:75px;
    cursor:pointer;
}

.mb-sharelinks
{
	padding-top:2px;
	background-color:White;
}

.mb-contact-result-wrapper
{
	text-overflow: ellipsis;
    overflow:hidden;
    line-height:13px;
    color:#808080;
    padding-bottom:2px;
}

.mb-contact-phones
{
	padding:5px 0px 3px 0px;
}

	.mb-share
{
	padding:3px;
}

.mb-search-options
{
    width:22px;
    height:27px;
    cursor:pointer;
    background:#FFFFFF url(../image/mb-search-options.png?v=2) no-repeat scroll 0px 4px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.mb-search-options-selected
{
    background:#F2F9FF url(../image/mb-search-options.png?v=2) no-repeat scroll 0px 4px;
}


#mbSearchOptionsDialog
{
	border: 2px solid #CCCCCC;
	position: absolute;
	visibility: hidden;
	z-index: 888;
	width: 200px;
	top: 24px;
	left: 48px;
	background-color: White;
}


.mb-search-option-item
{
	border-top:1px solid #EFEFEF;
	padding:3px 3px 3px 3px;
	height: 30px; 
	line-height: 30px; 
}

.ui-state-highlight 
{ 
	border-top:1px solid #EFEFEF;
	background-color:#FFFFFF;
	height: 34px; 
	line-height: 34px; 
}

.mb-search-option-item:hover
{
	background-color: #D7EBFF; 
}

.mb-search-option-selected
{
	background: transparent url(../image/mb-check-tick.gif?v=2) no-repeat scroll 183px center;
	font-weight: bold;
	background-color: #F2F9FF;
}

.mb-search-option-notselected
{
	background:transparent url(../image/mb-check-non-tick.gif?v=2) no-repeat scroll 183px center;
}

.mb-search-option-close
{
	float:right;
	border:1px solid white;
	height:20px;
	background:transparent url(../image/mb-close.png?v=2) no-repeat scroll 1px 1px;
}

.mb-search-option-close:hover
{
	border:1px solid #9DCEFF;
}

.mb-search-option-header
{
	
	background:url("../image/cat-bg.png?v=2") repeat-x scroll 0 -24px transparent;
	color:#006AB0;
	font-weight:bold;
}

.mb-search-option-header-caption
{
	width:170px;
	padding:5px 1px 5px 3px;
}

.mb-search-option-list
{
	list-style-type: none; 
	margin: 0; 
	padding: 0;  
}

.mb-search-option-sort-handle
{
	display: block;
	float: left;
	width: 8px;
	height: 34px;
	cursor: move;
	background:url("../image/mb-drag.png?v=2") no-repeat scroll 0px 9px transparent;
}

.mb-search-category
{
	font-weight: bold;
	padding: 5px 3px 5px 3px;
	background: transparent url(../image/cat-bg.png?v=2) repeat-x scroll 0px -24px;
	color: #006AB0;
}

.mb-result-column
{
	border-top: 1px solid white;
	border-bottom: 1px solid #C8C8C8;
	border-top-color: white;
	border-bottom-color: #EFEFEF;
	padding:6px 3px 6px 3px;
	cursor:pointer;
}

.mb-result-column:hover td
{
	background-color: #D7EBFF; 
}

.mb-result-column:hover
{
	background-color: #D7EBFF; 
}


.mb-event-result-column
{	
	cursor:pointer;
}

.mb-event-result-column:hover
{
	background-color: #D7EBFF; 
}



.mb-contact-small-photo
{
	padding-left:3px;
	width:32px;
	height:32px;
	float:right;		
}

.cm-tweet-image
{
	float:left;	
	width:32px;
	height:32px;
	padding-top:4px;
}

.mb-twitter-profile-img-single-view
{
	width:64px;
	height:64px;
	padding-top:5px;		
}

.mb-twitter-profile-img
{
	width:64px;
	height:64px;
	padding-top:5px;		
}

.mb-twitter-profile
{	
	width:46px;			
}


.mb-contact-name
{
	font-weight:bold;
	overflow:hidden;
	text-overflow: ellipsis;
	padding-bottom:5px;
}

.mb-search-handler
{
	font-weight:bold;
}

.mb-search-mail-date
{
	text-align:right;
	color:Black;
	height:16px;
	float:right;
	padding-left:21px;
	margin-left:2px;
}

.mb-single-line-with-wrap
{
    overflow:hidden;
}

.mb-preview-shared-details
{
	width:100%;
	cursor:auto;
}

.mb-preview-list-from-to-details
{
	height: 16px;
	text-overflow: ellipsis;
}

.mb-preview-list-subject
{
	text-overflow: ellipsis;
}

.mb-font-bold
{
	font-weight:bold;
}

.mb-mail-result-row td
{
	padding-top:6px;
	padding-bottom:6px;
}


.mb-email
{
	display:block;
	padding-bottom:3px;
	padding-left:20px;
	background:url("../image/mb-email.gif?v=2") no-repeat scroll 0px 5px transparent;
}

.mb-phone
{
	display:block;
	padding-bottom:3px;
	padding-left:20px;
	background:url("../image/mb-phone.png?v=2") no-repeat scroll 0px 0px transparent;
}

.mb-search-more:hover
{
	border-top: 1px solid #D7EBFF;
	border-bottom: 1px solid #D7EBFF;
	background-color: #D7EBFF; 
}

.mb-search-more
{
	color: #4AA5FF;
	padding: 6px 3px 10px 26px;
	background: transparent url(../image/mb-search-more.png?v=2) no-repeat scroll 1px 3px;
	cursor:pointer;
	width:80px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.mb-search-no-more
{
	padding: 6px 3px 10px 4px;
	color: #9F9F9F;
}

.mb-source-account
{
	text-align: right;
	padding-right:10px;
	font-weight:bold;
	overflow:hidden;
	cursor:auto;
}

.mb-popout-wrapper
{
	/*padding-bottom:10px;	*/
	width:20px;
}

.mb-popout:hover
{
/*	border: 1px solid #CCCCCC;*/
}

.mb-popout
{
	background: transparent url(../image/mb-popout.png?v=2) no-repeat scroll 1px -1px;
	cursor: pointer;
	width: 14px;
	height: 14px;
	float: right;
	border: 1px solid #E5F2FB;
}

.mb-options-wrapper:hover
{
	/*border: 1px solid #CCCCCC;*/
}

.mb-options-wrapper
{
	width:14px;
	height:13px;
	float:right;
	border: 1px solid #E5F2FB;
}

.mb-preview-header
{
	vertical-align:top;
	text-align:right;
	width:60px;
	/*background: transparent url(../image/cat-bg.png?v=2) repeat-x scroll 0px -24px;*/
}

.mb-category-menu
{
	border-left: 1px solid #D9E7F4;
	border-right: 1px solid #D9E7F4;
	border-top: 1px solid #D9E7F4;
	padding: 2px 6px 3px 6px;
	display: inline-block;
	height:15px;
}

.mb-category-menu:hover
{
	background-color: #FFFFFF;
}

.mb-category-menu-selected
{
	background-color: #FFFFFF;
	border-left:1px solid #9DCEFF;
	border-right:1px solid #9DCEFF;
	border-top:1px solid #9DCEFF;
	color:Black;
	text-decoration:none;
	cursor:default;
	/*font-weight:bold;*/
	outline:none;
}

.mb-category-wrapper
{
}

.cm-contact-result-wrapper
{
	text-overflow: ellipsis;
    overflow:hidden;
    height:12px;
    line-height:13px;
    color:#808080;
}

.mb-new-features-msg
{
	font-weight:bold;
	position:absolute;
	/*padding-top:3px;
	padding-bottom:3px;*/
}

.mb-new-features-msg-close
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #CCCCCC;
	top:2px;
	left:100px;
	cursor:pointer;
	background:transparent url(../image/mb-close-msg.png?v=2) no-repeat scroll 0px 0px;
}

.mb-event-name 
{
	text-align:right;		
	padding:2 px;
	width:83px;
	color:#000000;
	font-weight: bold;
	vertical-align:top;
	font-size: 110%;	
	
}

.mb-guest-td-padding 
{
	padding-right:3px;
}


.mb-tweet-createdtime 
{
	float:right;
	color:Black;
	font-weight:normal;
	height: 14px;
    padding-left: 3px;
    text-align: right;
}


.mb-restart-msg
{
	z-index: 10;
	top:0px;
	padding:4px;
}
.cm-tweet-user-profile 
{	
	color: #333333;
	font-weight:bold;
}
.cm-tweet-user-profile:hover
{
	color: #333333;
	text-decoration:none;
	font-weight:bold;
}

#mbdropdownmenu>li
{
	margin:0;
}

.mb-tweet-content
{
	height:29px;
	overflow:hidden;
	padding-bottom:1px;
}

.mb-promo-message
{
	background-color: #FFF7CB !important;
	border: 1px solid #FFE475 !important;
	padding: 3px;
}

.mb-promo-message-wrapper
{
	padding-left:2px;
	padding-right:2px;
	padding-top:6px;
	padding-bottom:2px;
	
}

.mb-promo-message-wrapper2
{
	padding-bottom:6px;
}